USE [master]
GO
/****** Object:  Database [SpringJDBC]    Script Date: 5/2/2018 10:11:15 PM ******/
CREATE DATABASE [SpringJDBC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpringJDBC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\SpringJDBC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SpringJDBC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\SpringJDBC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpringJDBC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpringJDBC]
GO
USE [SpringJDBC]
GO
/****** Object:  Table [dbo].[Transaksi]    Script Date: 5/2/2018 10:11:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Waktu] [datetime] NOT NULL,
 CONSTRAINT [PK_Transaksi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksi_Details]    Script Date: 5/2/2018 10:11:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksi_Details](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Transaksi] [int] NOT NULL,
	[Item] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_Transaksi Details] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transaksi_Details]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Details_Transaksi] FOREIGN KEY([ID_Transaksi])
REFERENCES [dbo].[Transaksi] ([ID])
GO
ALTER TABLE [dbo].[Transaksi_Details] CHECK CONSTRAINT [FK_Transaksi_Details_Transaksi]
GO
USE [master]
GO
